{% extends "layout.html" %}
{% block app_content %}
    <h1>About Page</h1>
    <!-- enter personal info and links -->
    <div class="contact">
        <p> This sim was created using government solar test sites and current weather data from your supplied location.  In the future I hope to build the robustness of this simulator to account for more variations in weather and to draw on more northern locations as well.  For now, it should give a fairly accurate estimate of wattage based on solar math and adjusted for time of day and current temp.  Below you will find some useful links Thanks for checking out my project.  Have a sunny day.</p>
        <a href="https://www.linkedin.com/in/mark-ehler-85052548/"> Linkedin</a>
        <br>
        <a href="https://github.com/MarkEhler"> Github </a>
        <br>
        <a href="https://news.energysage.com/how-much-does-the-average-solar-panel-installation-cost-in-the-u-s/"> Article on Solar Installation Cost by State </a>
        <br>
        <img src="/static/sunburst.jpg" alt="sunburst", width="475" height="300", location = "center">
        <!-- add img of something cool -->
    </div>

{% endblock app_content %}